// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

.card .card-text-exp {
  padding: 0rem 1rem 0.75rem;
  font-size: 0.8rem;
}

.verticalhorizontal {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}