---
layout: default
---

<!DOCTYPE html>
<html>

<head>
    <title>HTML Meta Tag</title>
    <meta http-equiv="refresh" content="0; url = {{ page.rurl | prepend: 'assets/pdf/' | relative_url }}" />
</head>

<body>
    <p>Redirecting!</p>
</body>

</html>